[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "BCT"]
	path = BCT
	url = https://github.com/cran/BCT
	shallow = true
	registered = true
